.DS_Store
.vscode/
.devcontainer/
*.code-workspace
obj
basic/basic
standard/obj
standard/standard
arcadia/obj
arcadia/arcadia
fracas/obj
fracas/fracas
kingdoms/obj
kingdoms/kingdoms
havilah/obj
havilah/havilah
havilah/html/havilah.html
neworigins/obj
neworigins/neworigins
neworigins/html/neworigins.html
neworigins_v2/obj
neworigins_v2/neworigins_v2
neworigins_v2/html/neworigins.html
times.*
report.*
template.*
players.*
game.*
names.*
orders.*