.DS_Store
.vscode/
*.code-workspace
obj
basic/basic
standard/obj
standard/standard
arcadia/obj
arcadia/arcadia
fracas/obj
fracas/fracas
kingdoms/obj
kingdoms/kingdoms
havilah/obj
havilah/havilah
havilah/html/havilah.html
neworigins/obj
neworigins/neworigins
neworigins/html/neworigins.html

