.DS_Store
obj
basic/basic
standard/obj
standard/standard
arcadia/obj
arcadia/arcadia
fracas/obj
fracas/fracas
kingdoms/obj
kingdoms/kingdoms
havilah/obj
havilah/havilah
neworigins/obj
neworigins/neworigins

